.bc-card {
  &.--front {
    background-color: $color-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;

    @include media-tablet {
      column-gap: 20px;
    }

    .bc-card {
      position: relative;

      &__background {
        &-cupcake {
          position: absolute;

          &:nth-child(1) {
            top: 10px;
            left: -15px;
            height: 90px;

            @include media-tablet {
              left: -30px;
              height: 146px;
            }
          }

          &:nth-child(2) {
            bottom: 10px;
            left: 20px;
            height: 60px;

            @include media-tablet {
              bottom: 15px;
              left: 30px;
              height: 97px;
            }
          }

          &:nth-child(3) {
            bottom: -10px;
            right: -5px;
            height: 90px;

            @include media-tablet {
              right: -10px;
              height: 146px;
            }
          }

          &:nth-child(4) {
            top: 5px;
            right: 10px;
            height: 60px;

            @include media-tablet {
              top: 10px;
              right: 15px;
              height: 97px;
            }
          }
        }
      }

      &__banner {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        // outline: 1px solid red;

        @include media-tablet {
          column-gap: 20px;
        }

        &-texts {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $color-4;

          &__title {
            font-family: $font-aloja;
            font-size: 38px;
            line-height: 38px;
            text-align: center;
            // outline: 1px solid red;

            @include media-tablet {
              font-size: 70px;
              line-height: 70px;
              margin-left: 4px;
            }
          }

          &__subtitle {
            font-family: $font-montserrat;
            text-transform: uppercase;
            text-align: center;
            font-size: 10px;
            letter-spacing: 2px;
            margin-top: 2px;
            // outline: 1px solid red;

            @include media-tablet {
              font-weight: bold;
              font-size: 14px;
              letter-spacing: 3px;
              margin-top: 4px;
            }
          }
        }

        &-cupcake {
          height: 56px;
          // outline: 1px solid red;

          @include media-tablet {
            height: 90px;
          }
        }
      }

      &__customer-name {
        position: relative;
        // outline: 1px solid red;

        p {
          font-family: $font-trocchi;
          font-size: 18px;
          position: absolute;
          width: 100%;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $color-4;

          @include media-tablet {
            font-size: 32px;
          }
        }

        img {
          // width: 350px;
          height: 67px;
          // background-image: url('assets/images/name-border.svg');

          @include media-tablet {
            height: 110px;
          }
        }
      }
    }
  }
}