@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors.scss';
@import './mixins.scss';
@import './variables.scss';

// COMPONENTS
@import 'components/loading/styles.scss';
@import 'components/customs/ticket-front/styles.scss';
@import 'components/customs/ticket-back/styles.scss';
@import 'components/forms/customer-data-form/styles.scss';
@import 'pages/dashboard/styles.scss';
@import 'pages/login/styles.scss';

// PAGES
@import 'pages/ticket/styles.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: 'bocato-font';
}

@font-face {
  font-family: 'Aloja Extended';
  src: url('assets/fonts/Aloja-extended.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-variation-settings: normal;
}

@font-face {
  font-family: 'More Sugar';
  src: url('assets/fonts/more-sugar-thin.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bocato-font';
  src: url('assets/fonts/bocato-font.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.bg-overlay {
  background-image: url('assets/images/pattern.jpg');
  background-size: 205px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-3;
    opacity: .5;
    z-index: 1;
  }
}
