$font-lilita: 'Lilita One', cursive;
$font-oswald: 'Oswald', cursive;
$font-aloja: 'Aloja Extended';
$font-montserrat: 'Montserrat', sans-serif;
$font-trocchi: 'Trocchi', serif;
$font-purple: 'Purple Purse', cursive;
$font-more: 'More Sugar', cursive;