// $font-amatic: 'Amatic SC', cursive;
// $font-sacramento: 'Sacramento', cursive;
// $font-satisfy: 'Satisfy', cursive;
$font-lilita: 'Lilita One', cursive;
$font-oswald: 'Oswald', cursive;
// $font-shadows: 'Shadows Into Light Two', cursive;
// $font-barlow: 'Barlow';
$font-aloja: 'Aloja Extended';
$font-montserrat: 'Montserrat', sans-serif;
$font-trocchi: 'Trocchi', serif;
$font-purple: 'Purple Purse', cursive;