.bc-card {
  &.--back {
    background-color: $color-1;
    padding: 24px;

    .bc-card {
      position: relative;

      &__background-cupcake {
        position: absolute;

        &:nth-child(1) {
          transform: rotateZ(135deg) translate(20px, 58px);
          height: 76px;
          top: 0;
          left: 0;

          @include media-tablet {
            height: 100px;
            transform: rotateZ(135deg) translate(30px, 68px);
          }
        }

        &:nth-child(2) {
          transform: rotateZ(-45deg) translate(20px, 58px);
          height: 76px;
          bottom: 0;
          right: 0;

          @include media-tablet {
            height: 100px;
            transform: rotateZ(-45deg) translate(30px, 68px);
          }
        }

        &:nth-child(3) {
          transform: rotateZ(45deg) translate(-5px, 48px);
          height: 85px;
          bottom: 0;
          left: 0;

          @include media-tablet {
            transform: rotateZ(45deg) translate(-8px, 76px);
            height: 140px;
          }
        }

        &:nth-child(4) {
          transform: rotateZ(-135deg) translate(-5px, 48px);
          height: 85px;
          top: 0;
          right: 0;

          @include media-tablet {
            transform: rotateZ(-135deg) translate(-8px, 76px);
            height: 140px;
          }
        }
      }

      &__texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-4;
        text-align: center;

        &-title {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 16px;
          }

          span {
            font-family: $font-aloja;
            font-size: 21px;
            line-height: 21px;

            @include media-tablet {
              font-size: 40px;
              line-height: 40px;
            }
          }
        }

        &-subtitle {
          font-family: $font-trocchi;
          font-size: 16px;

          @include media-tablet {
            font-size: 24px;
          }
        }
      }

      &__space {
        width: 53px;
        height: 53px;
        border-radius: 100%;
        background-color: #E4BEA3;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-tablet {
          width: 84px;
          height: 84px;
        }

        span {
          font-size: 15px;
          line-height: 15px;
          font-family: $font-purple;
          color: #FFF1E8;
          margin-bottom: -2px;

          @include media-tablet {
            font-size: 25px;
          }
        }

        &.--discount {
          background-color: $color-3;
        }

        &-container {
          position: relative;
          z-index: 1;
          margin-top: 8px;
          width: 100%;
          border: 3px solid $color-2;
          background-color: #FFF1E8;
          border-radius: 8px;
          padding: 8px;
          display: flex;
          justify-content: center;
          gap: 5px;
          flex-wrap: wrap;

          @include media-tablet {
            border-width: 6px;
            padding: 16px;
            gap: 16px;
            border-radius: 16px;
            justify-content: space-between;
          }
        }

        &-cupcake {
          height: 40px;

          @include media-tablet {
            height: 64px;
          }
        }
      }

      &__conditions {
        font-size: 12px;
        font-family: $font-more;
        color: $color-2;
        margin-top: 8px;

        @include media-tablet {
          font-size: 16px;
        }
      }
    }
  }
}